<div class="wrapper">

  <div class="banner-favorites" style="background-image: url(<%= image_path('fond_favorites.jpg') %>);">
    <div class="container">
      <h1 id="favorite">Mes favoris</h1>
    </div>
  </div>

  <div class="blue-block-favorites mt-4">
    <p>Retrouver tous mes favoris<br> en un seul clic !</p>
  </div>

  <div class="container">
    <% @favorites.each do |favorite| %>
      <div id="establishment-<%= favorite.establishment.id %>" class="margecard">
        <%= render 'establishments/card_index', establishment: favorite.establishment %>
      </div>
    <% end %>
  </div>

</div>
