<nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-lewagon">

  <div id="research">
    <form id="form-search" action="">
      <input type="text" id="search" name="" placeholder="recherche">
      <i class="fas fa-search" id="bt-search"></i>
      <i class="fas fa-search" id="bt-close"></i>
    </form>
  </div>

  <%= link_to root_path , class: "navbar-brand" do %>
    <%= image_tag "logo.svg", alt: "logo" %>
  <% end %>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="far fa-user"> Mon profil</i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to 'Connexion', new_user_session_path, class: "dropdown-item" %>
            <%= link_to 'Créer un compte', new_user_registration_path, class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="far fa-heart"> Mes favoris</i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="far fa-envelope"> Nous contacter</i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-power-off"> Déconnexion</i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-exclamation-circle"> Signaler un problème</i></a>
      </li>
    </ul>
  </div>
</nav>


