<div class="homepage-splash" id="homesplash">
  <div class="homepage-splash-logo">
    <%= image_tag "logo.svg", alt: "logo" %>
  </div>
    <p>Vous accompagner au quotidien pour aller toujours plus loin !</p>
  <%= link_to 'home', home_path, class: "splash-link" %>
</div>
