<div class="wrapper">

  <div class="banner-travel" style="background-image: url(<%= image_path('travel_intro.jpg') %>);">
    <div class="container">
      <h1>Une envie <br>de voyage...</h1>
      <h2>nous avons des solutions !</h2>
    </div>
  </div>

  <div class="blue-block-travel mt-4">
  <p>Découvrez des expériences accessibles<br> en fonction de votre mobilité.</p>
  </div>

    <div class="card-travel">
        <figure class="card-travel__thumb">
            <%= image_tag "travel_thailande.jpg", alt: "thailande", class: "card-travel__image"%>
            <figcaption class="card-travel__caption">
                <h2 class="card-travel__title">THAILANDE</h2>
                <p class="card-travel__snippet"><br>Situé au nord de Phuket, la région de Khao Lak ravira les amoureux de la nature en quête de tranquillité.</p>
                <a href="" class="card-travel__button">Voir plus</a>
            </figcaption>
        </figure>
    </div>

    <div class="card-travel">
        <figure class="card-travel__thumb">
            <%= image_tag "londres_travel.jpg", alt: "londres", class: "card-travel__image"%>
            <figcaption class="card-travel__caption">
                <h2 class="card-travel__title">LONDRES</h2>
                <p class="card-travel__snippet"><br>Ville à la fois historique, tendance et cosmopolite, elle figure au rang des grandes capitales européennes.</p>
                <a href="" class="card-travel__button">Voir plus</a>
            </figcaption>
        </figure>
    </div>

    <div class="card-travel">
        <figure class="card-travel__thumb">
            <%= image_tag "travel_mont_saint_michel.jpg", alt: "thailande", class: "card-travel__image"%>
            <figcaption class="card-travel__caption">
                <h2 class="card-travel__title">MONT SAINT MICHEL</h2>
                <p class="card-travel__snippet"><br>La baie du Mont Saint-Michel est un site touristique incontournable dans la Manche.</p>
                <a href="" class="card-travel__button">Voir plus</a>
            </figcaption>
        </figure>
    </div>
</div>
