.card-product {
  overflow: hidden;
  height: 100px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  object-fit: cover;
  }
  h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: $dark-blue;
  }
  h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: $dark-blue;
  }
  p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 0px;
  margin-left: 3px;
  color: $dark-blue;
  font-weight: 500;
  }

.card-product-infos {
  padding: 16px;
  flex-grow: 1;
}

.card-product-icons {
  width: 40px;
  min-width: 40px;
}

.card-product-top-infos ul {
  display: flex;
}

.card-product-top-infos p {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 5px;
  margin-left: 4px;
  color: $dark-blue;
}

.fa-heart {
  position: relative;
  margin-top: 7px;
  color: $dark-blue;
}

.blue-line {
  display: block;
  height: 5px;
  width: 40px;
  border-radius: 60px;
  background-color: $blue;
  margin-top: 4px;
}

.fa-circle {
  font-size: 9px;
  color: $dark-blue;
  padding-right: 2px;
  margin-top: 2px;
}

.handi_icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: contain;
  padding: 0 5px;
  margin-top: 10px;
}
