.card-product {
  overflow: hidden;
  height: 100px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  img {
  height: 100%;
  }
  object-fit: cover;
  }
  h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: $dark-blue;
  }
  h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: $dark-blue;
  }
  p {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
  margin-left: 2px;
  color: $dark-blue;
  }

.card-product-infos {
  padding: 16px;
  flex-grow: 1;
}

.card-product-icons {
  width: 40px;
  min-width: 40px;
}

.card-product-top-infos ul {
  display: flex;
}

.fa-heart {
  position: relative;
  margin-top: 10px;
  margin-right: 10px;
}

.fa-circle {
  font-size: 8px;
  color: $dark-blue;
  padding-right: 2px;
  margin-top: 2px;
}

.small_icon {
  width: 40%;
  margin-top: 5px;
}
