.mapboxgl-marker {
  background-size: cover;
  height: 35px;
  width: 25px;
  cursor: pointer;
}

.marker-theatre-red  {
  background-image: asset-url('marker-theater-r.svg');
}
.marker-theatre-orange {
  background-image: asset-url('marker-theater-o.svg');
}
.marker-theatre-green {
  background-image: asset-url('marker-theater-g.svg');
}


.marker-bar-red  {
  background-image: asset-url('marker-bar-r.svg');
}
.marker-bar-orange {
  background-image: asset-url('marker-bar-o.svg');
}
.marker-bar-green {
  background-image: asset-url('marker-bar-g.svg');
}

.marker-restaurant-red  {
  background-image: asset-url('marker-restaurant-r.svg');
}
.marker-restaurant-orange {
  background-image: asset-url('marker-restaurant-o.svg');
}
.marker-restaurant-green {
  background-image: asset-url('marker-restaurant-g.svg');
}

.marker-cinema-red  {
  background-image: asset-url('marker-cinema-r.svg');
}
.marker-cinema-orange {
  background-image: asset-url('marker-cinema-o.svg');
}
.marker-cinema-green {
  background-image: asset-url('marker-cinema-g.svg');
}


// .mapboxgl-marker svg {
//   visibility: hidden;
// }

.mapboxgl-marker circle {
  // visibility: hidden;
}
