.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  font-family: 'Open Sans', sans-serif;
  p {
    font-size: 12px;
  }
  img {
    width: 24px;
  }
}

.mapboxgl-canvas {
  width: 100% !important;
}
