.blue-block-report {
  background-color: $blue;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-form-report {
  border-radius: 2px;
  width: 160px;
  height: 35px;
  font-size: 12px;
}

.far {
  color: white;
  font-size: 23px;
}

.card-new {
  background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  margin:16px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.return a {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.card-text {
  grid-area: text;
  margin: 18px;
}

.card-text h2 {
  margin-top:0px;
  font-size:19px;
}

.card-text p {
  color: $dark-blue;
  font-size:13px;
  font-weight: 300;
}

.card-stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background: $blue;
}
.card-stats .stat {
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.card-stats .value{
  font-size:20px;
  font-weight: 500;
}
.card-stats .type{
  font-size:10px;
  font-weight: 300;
  text-transform: uppercase;
}
