 <div class="card-product">
      <img src="https://media-cdn.tripadvisor.com/media/photo-s/14/ec/c0/8c/getlstd-property-photo.jpg" class="p-1" />
      <div class="card-product-infos">
        <h2><%= establishment.name %></h2>
        <div class="card-product-top-infos">
          <ul class="rounded-circle list-inline">
            <li><i class="fas fa-circle"></i></li>
            <li><i class="fas fa-circle"></i></li>
            <li><i class="fas fa-circle"></i></li>
            <li><i class="fas fa-circle"></i></li>
            <li><i class="fas fa-circle"></i></li>
            <p>88 avis</p>
          </ul>
        </div>
      </div>
      <div class="like d-block mx-auto d-flex flex-column">
        <i class="far fa-heart"></i>
        <%= image_tag "picto_handi.png", class: "small_icon" %>
        <p> <%= establishment.access_average%></p>
      </div>
    </div>
  <% end %>
</div>
