
<div class="card-product">
  <img src="https://www.tripadvisor.fr/Restaurant_Review-g187079-d15198718-Reviews-Loco_By_Jem_s-Bordeaux_Gironde_Nouvelle_Aquitaine.html#photos;aggregationId=&albumid=101&filter=7&ff=351060108" />
  <div class="card-product-infos">
    <button type="button" class="btn mybutton btn-light rounded-circle" data-toggle="button" aria-pressed="false" autocomplete="off">
    <i class="far fa-heart"></i>
    <h2>Loco By Jem’s</h2>
    <p>88 avis</p>
    <p>Française Internationale Moderne</p>
    <%= f.submit 'Comment se rendre', class: "button"%>
  </div>
</div>
